{% extends "main.html" %}

{% block container %}
<div class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">
    <h1>Page not found</h1>
    <p>
      The page you requested doesn't exist in this version of the docs. A few things to try:
    </p>
    <ul>
      <li>Search using the bar at the top of the page.</li>
      <li>Jump to the <a href="/docs/operator/latest/">latest docs</a>.</li>
      <li>Browse the <a href="/docs/operator/latest/api-reference/">API reference</a>.</li>
      <li>Open a question on <a href="https://github.com/openclaw-rocks/openclaw-operator/issues/new/choose">GitHub Issues</a>.</li>
    </ul>
  </article>
</div>
{% endblock %}
